/* ==========
  CUSTOM PROPERTIES
=========== */
:root {
    --clr-primary-400: 0 36% 70%;
    --clr-primary-500: 0 80% 86%;
    --clr-primary-600: 0 74% 74%;
    --clr-primary-800: 0 93% 68%;

    --clr-neutral-900: 0 6% 24%;

    --btn-gradient-hover: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

    --ff-primary: 'Josefin Sans', sans-serif;

    --fs-400: 1rem;
    --fs-900: 2.5rem;

    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
}

/* ==========
  RESET
=========== */

/* sets box sizing rules */

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* sets root core defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* sets body core defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;

    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    color: hsl(var(--clr-primary-400));
    background-image: var(--btn-gradient-hover);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* resets margins */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* removes unnecessary space caused by lineheight */
h1,
h2,
h3,
h4 {
    line-height: 1.1;
}

/* gives a elements without class default styling */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* makes images easier to work with */
img,
picture {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* removes default styling from ul, ol elements that have the role of list */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* inherits fonts for buttons and inputs */
button,
input,
select,
textarea {
    font: inherit;
}

/* removes animations, transitions and smooth scroll for people who prefer not to see these */
@media(prefers-reduced-motion: reduce) {

    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::after,
    *::before {
        animation-iteration-count: 1 !important;
        animation-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ===============
  GENERAL STYLES
================= */

::selection {
    background-color: hsl(var(--clr-primary-400));
    color: white;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* ===============
  UTILITY CLASSES
================= */

.container {
    width: 90%;
    max-width: 40rem;
    margin-inline: auto;
}

.flex {
    display: flex;
    gap: var(--spacing, 1rem);
}

.grid {
    display: grid;
    gap: var(--spacing, 1rem);
}

.flow > * + * {
    margin-top: var(--flow, 1rem);
}

.fs-900 { font-size: var(--fs-900);}
.text-dark { color: hsl(var(--clr-neutral-900)); }
.text-light { color: hsl(var(--clr-primary-400));}
.text-thin { font-weight: var(--fw-300);}
.text-bold { font-weight: var(--fw-600);}
.letter-spacing { letter-spacing: 1rem;}
.uppercase { text-transform: uppercase;}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: none !important;
}

/* ===============
  UTILITY CLASSES
================= */

.grid--hero {
    --spacing: 0;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo"
    "picture"
    "contents";
}

.grid--hero > .logo {
    grid-area: logo;
    padding-block: 2rem;
}

.grid--hero > .logo > img {
    width: 30%;
}

.grid--hero > .contents {
    --flow: 2rem;
    grid-area: contents;

    padding-block: 4rem;
    text-align: center;
}

.grid--hero > picture {
    grid-area: picture;
}

form .wrapper {
    --spacing: 0;
    border: 1px solid hsl(var(--clr-neutral-900) / .25);
    border-radius: 50vw;
    padding: 1px;

    justify-content: space-around;
    align-items: center;
    position: relative;
}

form .wrapper:focus-within {
    border: none;
   outline: .125rem solid hsl(var(--clr-primary-400));
}

form input {   
    width: 80%; 
    padding-block: 0.75rem;
    padding-inline: 0.25rem;
    margin-inline-end: 2rem;
    border: none;
    background: transparent;
}

form input:focus {
    outline: none;
}

form input::placeholder {
    color: hsl(var(--clr-primary-400) / .6)
}

form .error {
    display: none;
}

form .submit-btn {
    position: absolute;
    inset: -2px -2px -2px auto;
    padding-block: 0.75rem;
    padding-inline: 1.75rem;
    background-image: linear-gradient(135deg, hsl(var(--clr-primary-500)), hsl(var(--clr-primary-600)) );
    border-radius: inherit;
    box-shadow: 0 .75rem 1rem hsl(var(--clr-primary-400) / .6);

    display: grid;
    place-items: center;
   
    z-index: 1;
    isolation: isolate;

}

form .submit-btn::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(135deg, hsl(0, 41%, 93%), hsl(0, 70%, 84%));
    border-radius: inherit;
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms ease-in;
}

form .submit-btn:hover::after,
form .submit-btn:focus::after {
    opacity: 1;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(var(--clr-neutral-900));
  }