$colors: (
  neutral: (
    100: #ffffff,
    900: #413939,
  ),
  primary: (
    100: #fff5f5,
    200: #f4e6e6,
    300: #f8bfbf,
    400: #f3baba,
    500: #ce9797,
    600: #ee8c8c,
    800: #f96262,
  ),
);
