$sizes: (
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  20: 1.25rem,
  24: 1.5rem,
  32: 2rem,
  36: 2.25rem,
  48: 3rem,
);

$padding-hero: clamp(15rem, 15vh, 20rem);
$padding-section: clamp(3rem, 10vh, 7rem);

$bg-min-height: 20rem;
$bg-max-height: 30rem;

$card-body-padding: clamp(2rem, 3.5vw, 5rem);
$card-base-width: 16rem;

$grid-gap: 1.5rem;
$flex-group-gap: 1rem;

$container-padding-inline-min: 2rem;
$container-padding-inline-max: 10.125rem;
$container-max-width: 27.8125rem;
$container-max-width-small: 20.8125rem;
$container-max-width-large: 37.8125rem;
$container-max-width-full-bleed: 100%;

$logo-width-min: 6.25rem;
$logo-width-max: 9.875rem;
$logo-padding-block: clamp(2em, 2em + 0.5vw, 4em);

$main-content-padding-block-min: 4em;

$hero-image-min-width: 50rem;
$hero-image-max-width: 62.5rem;

$form-gap-top-min: 2em;
$form-gap-top-max: 2.5em;
$form-border-width: 0.125rem;
$form-items-gap: 0.5em;

$input-padding-block: clamp(0.25em, 0.25em + 0.25vw, 0.75em);
$input-padding-inline: clamp(1.5em, 1.5em + 0.25vw, 2em);
